@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background: #060716;
    color: #f7f7f7;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
  }
}
